<!DOCTYPE html>
<html>
<head>
  <title>Редактирование</title>
</head>
<body>
    <%- include('./navbar') %>
  <div class="container">
    <h1>Редактировать</h1>
    <form action="/articles/<%= article.id %>?_method=PUT" method="POST">
      <label for="title">Заголовок</label>
      <input type="text" id="title" name="title" value="<%= article.title %>" required><br>
      <label for="text">Текст</label>
      <textarea id="text" name="text" required><%= article.text %></textarea><br>
      <label for="author">Автор</label>
      <input type="text" id="author" name="author" value="<%= article.Author.name %>" required><br>
      <button class="btn btn-danger" type="submit">Редактировать</button>
    </form>
    <a class="btn btn-primary" href="/articles/<%= article.id %>">Закрыть</a>
  </div>
</body>
</html>
